body{
    background-image: url(./img/bg.jpg);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.startscreen{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.start-button{
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    right: 391px;
    top: 442px;
    color: #b6d5ee;
    transform: rotate(14deg);
    text-shadow: 1px 1px 2px black;
    transition: 0.1s;
}


.start-button:hover{
    color: #ebf6fc;
    text-shadow: 1px 1px 2px black;
}

.settings-button{
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    right: 405px;
    top: 477px;
    color: #b6d5ee;
    transform: rotate(14deg);
    text-shadow: 1px 1px 2px black;
    transition: 0.1s;
}

.settings-button:hover{
    color: #ebf6fc;
    text-shadow: 1px 1px 2px black;
}

.onofflight{
    position: relative;
    left: 1091px;
    top: -208px;
    color: #b6d5ee;
    border-radius: 100%;
    text-shadow: 1px 1px 2px black;
    width: 17px;
    height: 17px;
    background-color: #27ff52;
    box-shadow: inset 0px 0px 3px 0px rgb(0 0 0);
}

.popup-background{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.87);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.popup-container{
    width: 720px;
    height: 480px;
    background-color: #a78f6a;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

#gamepopupContainer{
    justify-content: center;
}

.cross{
    position: fixed;
    top: 48px;
    right: 48px;
    cursor: pointer;
}

.base-timer {
    position: relative;
    width: 200px;
    height: 200px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: rgb(65, 57, 50);
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(90, 67, 40);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: bold;
    position: relative;
    top: -138px;
    color: rgb(65, 57, 50);
}
  
