body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  width: 100%;
  display: none;
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
}

.gba-Screen {
  width: 495px;
  height: 330px;
  display: none;
  background-color: rgb(83, 83, 83);
  /* box-shadow: 0px 0px 4px 0px rgb(0 0 0); */
  border-radius: 4px;
  position: relative;
  bottom: 592px;
  right: 14px;
  z-index: 9;
}

.settings {
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgb(0, 0, 0);
  border-radius: 3px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deathscreen {
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgb(61, 61, 61);
  border-radius: 3px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deathscreen h2 {
  color: white;
  font-size: 64px;
}

.deathimage {
  width: 100%;
  height: 100%;
  position: relative;
  top: -21px;
  left: 0;
  border-radius: 4px;
}

.victoryscreen {
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgb(61, 61, 61);
  border-radius: 3px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.victoryscreen h2 {
  color: white;
  font-size: 64px;
}

.victoryimage {
  width: 100%;
  height: 100%;
  position: relative;
  top: -21px;
  left: 0;
  border-radius: 4px;
}

.victoryscreen h2 {
  color: white;
  font-size: 64px;
}

.victoryimage {
  width: 100%;
  height: 100%;
  position: relative;
  top: -21px;
  left: 0;
  border-radius: 4px;
}

.settings img {
  width: 100%;
  height: 100%;
  position: relative;
  top: -21px;
  left: 0;
  border-radius: 4px;
  /* opacity: 0.4; */
}

.closecross {
  width: 40px !important;
  height: 40px !important;
  position: relative !important;
  top: 25px !important;
  left: 221px !important;
  z-index: 9;
  cursor: pointer;
}

.cross {
  width: 40px;
  height: 40px;
  position: relative;
  top: 25px !important;
  left: 221px !important;
  z-index: 9;
  cursor: pointer;
}

.reloadButton {
  display: none;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background: linear-gradient(135deg, #fffa5f, #ff7308);
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: fixed;
  top: 8px;
  left: 93px;
  cursor: pointer;
  transition: 0.4s;
}

.reloadButton:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.reloadButton:active {
  transform: scale(0.95);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.reloadButton::before {
  content: "\f021"; /* Font Awesome redo icon */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 26px;
  color: white;
}

.fullscreenButton {
  display: none;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background: linear-gradient(135deg, #fffa5f, #ff7308);
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: fixed;
  top: 8px;
  left: 16px;
  cursor: pointer;
  transition: 0.4s;
}

.fullscreenButton:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.fullscreenButton:active {
  transform: scale(0.95);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.fullscreenButton::before {
  content: "\f065"; /* Font Awesome expand-arrows-alt icon */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 26px;
  color: white;
}

.rotateScreen {
  display: none;
}
.mobile-Startscreen {
  display: none;
}

.mobile-settings {
  display: none;
}
.mobile-button-container {
  display: none;
}
.mobile-closecross {
  display: none;
}

/* Smartphone */

@media only screen and (max-width: 720px) {
  .start-button {
    display: none;
  }
  .settings-button {
    display: none;
  }
  .rotateScreen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .rotateScreen h2 {
    font-size: 26px;
  }
  .rotated-phone {
    height: 250px;
    width: 150px;
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(90deg);
    }
  }
  .gba-Screen {
    position: unset;
  }
  canvas {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
  }
  .gba {
    display: none;
  }
}

@media only screen and (max-height: 480px) {
  .rotateScreen {
    display: none;
  }
  .mobile-healbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: linear-gradient(135deg, #fffa5f, #ff7308);
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .mobile-healbutton:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }

  .mobile-healbutton:active {
    transform: scale(0.95);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }

  .mobile-healbutton::before {
    content: "\f479"; /* Font Awesome first aid kit icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 24px;
    color: white;
  }
  .mobile-throwbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: linear-gradient(135deg, #fffa5f, #ff7308);
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .mobile-throwbutton:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }

  .mobile-throwbutton:active {
    transform: scale(0.95);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }

  .mobile-throwbutton::before {
    content: "\f72f"; /* Font Awesome wine bottle icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 24px;
    color: white;
  }
  .mobile-upbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: linear-gradient(135deg, #fffa5f, #ff7308);
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .mobile-upbutton:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }

  .mobile-upbutton:active {
    transform: scale(0.95);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }

  .mobile-upbutton::before {
    content: "\f062"; /* Font Awesome up arrow icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 24px;
    color: white;
  }
  .mobile-leftbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: linear-gradient(135deg, #fffa5f, #ff7308);
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .mobile-leftbutton:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }

  .mobile-leftbutton:active {
    transform: scale(0.95);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }

  .mobile-leftbutton::before {
    content: "\f060"; /* Font Awesome left arrow icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 24px;
    color: white;
  }
  .mobile-rightbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: linear-gradient(135deg, #fffa5f, #ff7308);
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .mobile-rightbutton:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }

  .mobile-rightbutton:active {
    transform: scale(0.95);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }

  .mobile-rightbutton::before {
    content: "\f061"; /* Font Awesome right arrow icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 24px;
    color: white;
  }
  .mobile-button-container {
    width: 95vw;
    position: absolute;
    display: none;
    justify-content: space-between;
    bottom: 4px;
    z-index: 10;
  }

  .mobile-button-container div {
    display: flex;
    gap: 8px;
  }

  .cross {
    display: none;
  }
  .deathimage {
    top: 0;
    border-radius: 0;
  }
  .deathscreen {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
  .victoryimage {
    top: 0;
    border-radius: 0;
  }
  .victoryscreen {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }

  .mobile-closecross {
    display: block;
    width: 42px !important;
    border-radius: 0 !important;
    border: none !important;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 99;
  }
  .mobile-settings {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #000000b8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
  }
  .mobile-settings img {
    width: 480px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.377);
  }
  .fullscreen {
    display: none;
  }
  .mobile-settingsbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: linear-gradient(135deg, #fffa5f, #ff7308);
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .mobile-settingsbutton:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }

  .mobile-settingsbutton:active {
    transform: scale(0.95);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }

  .mobile-settingsbutton::before {
    content: "\f013"; /* Font Awesome gear icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 28px;
    color: white;
  }
  .mobile-startbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: linear-gradient(135deg, #fffa5f, #ff7308);
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .mobile-startbutton:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }

  .mobile-startbutton:active {
    transform: scale(0.95);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }

  .mobile-startbutton::before {
    content: "\f04b"; /* Font Awesome play icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 28px;
    color: white;
  }

  .mobile-buttons {
    display: flex;
    position: fixed;
    gap: 8px;
    bottom: 8px;
    right: 8px;
  }
  .start-button {
    display: none;
  }
  .settings-button {
    display: none;
  }
  .mobile-Startscreen {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobilescreen {
    width: 100vw;
    height: 100vh;
    background-size: cover;
  }
  body {
    margin: 0;
    height: auto;
    padding: 0;
  }
  .gba {
    display: none;
  }
  .gba-Screen {
    position: unset;
  }
  canvas {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
}
